@import url('https://fonts.googleapis.com/css?family=Mystery+Quest');


body
{
  height: 95%;
  background-image: url("/images/blog/orange_red.jpg");
}

.bg{
  background-image: url("/images/blog/orange_red.jpg");
  height: 95%;
  background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}


.navbar-default{
  color: red;

}
.row{
   position: center;
}

.inputBox-search{
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid white;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0,0,0,.5);
    background: rgba(255,249,249,.75);

}

.content{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    

}



h1{
   font-family: 'Mystery Quest', cursive;
   text-align: center;
   color: black;
}
 
h2{
 
  text-align: center;
  color: black;
  font-family: 'Mystery Quest', cursive;
}

.sidebar{
   width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid #f7eaea;
   
    background-color: #ededed;
    box-shadow: 0 10px 20px rgba(0,0,0,.5);
    



}

