@import url('https://fonts.googleapis.com/css?family=Mystery+Quest');


body,html
{
  
    background-image: url("/images/blog/purpleback.jpeg");
    background-repeat: repeat-y;
    height: 100%;

}



.inputBox-search{
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid #6F42C1;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0,0,0,.5);
    background: rgba(111,66,193,.75);
    margin-top: 80px;

}


.content{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    

}



h1{
   font-family: 'Mystery Quest', cursive;
   text-align: center;
   color: black;
}
 
h2{
 
  text-align: center;
  color: black;
  font-family: 'Mystery Quest', cursive;
}

.sidebar{
    width: 19%;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px solid #c2aee8;
   
    background-color: #c2aee8;
    box-shadow: 0 10px 20px rgba(0,0,0,.5);
    margin-top: 80px;
    position: fixed;
  

}


.navbar{
  background: transparent;
  overflow: hidden;
   position: fixed;
}


