@import url('https://fonts.googleapis.com/css?family=Mystery+Quest');


body,html
{
  
    background-image: url("/images/blog/sidecupcake.jpg");
    background-repeat: repeat-y;
    height: 100%;

}



.inputBox-search{
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid white;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0,0,0,.5);
    background: rgba(252,252,252,.75);

}

.content{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    

}



h1{
   font-family: 'Mystery Quest', cursive;
   text-align: center;
   color: black;
}
 
h2{
 
  text-align: center;
  color: black;
  font-family: 'Mystery Quest', cursive;
}

.sidebar{
   width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid #f7eaea;
   
    background-color: #ededed;
    box-shadow: 0 10px 20px rgba(0,0,0,.5);
    



}



.navbar{
  background: transparent;
  overflow: hidden;
   position: fixed;
}


