@import url('https://fonts.googleapis.com/css?family=Sacramento');
@import url('https://fonts.googleapis.com/css?family=Mystery+Quest');


body 
{
  margin: 0;
  padding: 0;
  background-color:#fff;
  background-repeat:no-repeat;
  background-size:cover;


}
.Homepage
{
  background-color:#fff;
  background-repeat:no-repeat;
  background-size:cover;

}

.navbar-brand label{
  color: red;
  font-size: 2em;
  font-family: 'Mystery Quest', cursive;
  margin-top: 20px;
}


.navbar-brand {
  text-transform: uppercase;
  font-family: 'Mystery Quest', cursive;
  letter-spacing: 4px;
  margin-left:20px;
  padding: 0;
  }

nav .btn{
  border-color: transparent; 
  background-color:red;
}

.navbar{
    box-shadow: 0 0 5px black;
    height: 55px;
}


header.masthead {
  position: relative;
  background-image: url(./images/backgroundsweet.jpg);
  background-size: cover;
}
  
header.masthead {
    position: absolute;
    background-color: white;
    height: 90%;
    width: 20%;
    top: 0;
    left: 0;
    opacity: 0.1; 
  }


header.masthead {
  padding-top: 29%;
  padding-bottom: 30%; 
    }

header.masthead h2 {
  font-size: 3rem;
  margin-bottom: 0;
} 

header .btn{
  background-color: red;
  border-color: transparent;
}




.container h3{
  padding-top: 2%;
  text-align: center;
  font-family:'Sacramento',cursive;
  font-size: 3em;
  padding-bottom: 2%;
}


