@import url('https://fonts.googleapis.com/css?family=Sacramento');
@import url('https://fonts.googleapis.com/css?family=Mystery+Quest');


body 
{
  margin: 0;
  padding: 0;
  background-color:#fff;
  background-repeat:no-repeat;
  background-size:cover;


}
@media only screen and (min-width: 400px) {
    body { 
       font-size: 2em;
    }
}

.Homepage
{
  background-color:#fff;
  background-repeat:no-repeat;
  background-size:cover;

}

.navbar-brand label{
  color: #6f42c1;
  font-size: 2em;
  font-family: 'Mystery Quest', cursive;
  margin-top: 20px;
}


.navbar-brand {
  text-transform: uppercase;
  font-family: 'Mystery Quest', cursive;
  letter-spacing: 4px;
  margin-left:20px;
  padding: 0;
  }

nav .btn{
  border-color: transparent; 
  background-color: #6f42c1;
}

.navbar{
    box-shadow: 0 0 5px black;
    height: 55px;
}


header.masthead {
  position: relative;
  background-size: cover;
  background-repeat:no-repeat;
}
/* For width 400px and larger: */
@media only screen and (min-width: 400px) {
    header.masthead { 
       background-image: url("/images/homepage/purple-cupcakes.jpg");   
    }
}


header.masthead {
  padding-top: 29%;
  padding-bottom: 30%; 
    }

header.masthead h2 {
  font-size: 3rem;
  margin-top:300px;
} 

header .btn{
  background-color:#6f42c1;;
  border-color: transparent;
}

 
header .overlay {
    position: absolute;
    background-color: rgba(0,0,0,0.4);
    width:100%;
    height: 100%;
    bottom:0;

  }

.container h3{
  padding-top: 2%;
  text-align: center;
  font-family:'Sacramento',cursive;
  font-size: 3em;
  padding-bottom: 2%;
}

.bannerTitle{
  font-family: 'Mystery Quest', cursive;
}

.purple{
  background-color: #6f42c1;
}

