#post{
	text-align: left;
	color: black;

}


.displayBox {
  display: inline-block;
  box-sizing: content-box;
  width: 61%;
  height: 5%;
  margin: 3px;
  padding: 10px;
  padding-left: 10px;

  border: 1px solid #b7b7b7;
  float:center;
  text-overflow: clip;
  background: rgba(252,252,252,1);
 
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
  border-radius: 8px;
  
}