
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,800);
@import url('https://fonts.googleapis.com/css?family=Nosifer');
@import url('https://fonts.googleapis.com/css?family=Jolly+Lodger');


body 
{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url(./images/bg.jpg);
  background-repeat:no-repeat;
  background-size:cover;


}


h1 {
  text-transform: uppercase;
  font-family: 'Nosifer', cursive;
  font-size: 600%;
  text-align: center;
  margin-top: 20%;
  margin-bottom: 0;
  line-height: 1.3em;
  color: rgb(102,0,0);
  text-shadow: 20px 10px black, 10px 0px rgb(26,0,0);
}


.line {
  width: 50%;
  border: 0;
  border-bottom: 10px solid black;
  opacity: .5;
}

h2{
  text-transform: lowercase;
  font-family:"meddon", cursive;
  font-size: 300%;
  font-weight: 400;
  text-align: center;
  margin-top: 0;
  color: white;
}

.container {
  position: relative;
  overflow: hidden;
  
}

.container * {
 
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.container figcaption {
  font-family: 'Playfair Display', sans-serif;
  font-size: 400%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0.9;
  background-color: black;
  width: 40%;
  transform: translateX(110%);
}
.container figcaption:before {
  position: absolute;
  top: 49%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 100%;
  content: '';
  width: 0;
  height: 50;
  border-style: solid;
  border-width: 500px 500px 500px 0;
  border-color: transparent rgba(0,0,0, 0.9) transparent transparent;
}
.container:after {
  position: absolute;
  bottom: 50%;
  right: 40%;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 500px 500px 0 500px;
  border-color: rgba(26,0,0, 0.9) transparent transparent transparent;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}


.container ul {
  font-family: 'Jolly Lodger', cursive;
  font-size: 10px;
  text-align: center;
 
}


.container:hover:after,
.container.hover:after,
.container:hover figcaption,
.container.hover figcaption,
.container:hover i,
.container.hover i {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 0.9;
}
